@grey: rgba(0,0,0,.05);
@dark-grey: #ccc;
@border: 1px solid @dark-grey;
@padding: 20px;

#container{
    display: flex;
}

#ad{
    text-align: center;
}

#filters{
    background: @grey;
    width: 400px + (@padding * 2);
    border-right: @border;

    .group{
        border-bottom: @border;
        padding: @padding;

        h2{
            font-size: 30px;
            font-weight: bold;
            line-height: 40px;
            margin-bottom: 10px;
        }

        div.filter-grid{
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            .btn{
                text-align: left;
            }
        }

        .btn-light{
            border-color: @dark-grey;
        }

        .btn-light.active{
            background-color: #111;
            color: #fff;
        }
    }

    p{
        font-size: 13px;
        line-height: 20px;
        margin-top: @padding / 2;
        margin-bottom: 0;

        &:first-child{
            margin-top: 0;
        }
    }
}

#auctions{
    flex: 1;

    #loading{
        display: none;
        margin: @padding * 2;
        text-align: center;
    }

    th{
        cursor: pointer;
    }

    td.price{
        text-align: right;
    }

    tr.error{
        background: none;

        .alert{
            margin: 0;
        }
    }
}
