$primary    : #297acc;
$secondary  : #41a4fa;
$accent     : #9C27B0;

$positive   : #2e8743;
$negative   : #C10015;
$info       : #31CCEC;
$warning    : #F2C037;

$dark       : #222;
$dark-page  : #333;

$text       : #aaa;
$header     : $dark;
$bg-side    : color.adjust($dark, $lightness: 5%);
$bg-main    : color.adjust($dark, $lightness: 10%);

$line-height: 1.618;
$padding: 12px;
$space-base: $padding;
$side-padding: $padding * 2;
$sidebar-min-width: 400px;
