@import 'material-design-icons-iconfont/dist/material-design-icons.css';
@import 'quasar/src/css/index.sass';

body.body--dark{
    color: $text;
}

a{
    color: $secondary;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}
