body.body--dark{
    background: $bg-main;
    color: $text;
}

a{
    color: var(--q-color-secondary);
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

aside#sidebar{
    font-size: 17px;

    .group{
        border-bottom: 1px solid $bg-main;
        padding: 0 $side-padding;

        h2{
            color: white;
        }

        .wrapper{
            padding: 0 $padding;
        }
    }
    
    h2,
    p,
    .q-field,
    .q-slider,
    .q-list,
    .q-btn-group{
        margin: $side-padding 0;
    }

    h2{
        display: flex;
        font-size: 21px;
        font-weight: bold;
        line-height: 30px;
    }

    .q-list{
        margin-left: -$side-padding;
        margin-right: -$side-padding;

        &:not(.q-list--dense) {
            label.q-item{
                padding-top: $padding;
                padding-bottom: $padding;
            }
        }

        .q-item__label--caption{
            color: #aaa;
            line-height: 1.5em !important;
            margin-top: $padding / 2;
        }
    }

    .q-banner{
        color: var(--q-color-dark);
        padding: $padding $side-padding;
    }
}
