@import 'material-design-icons-iconfont/dist/material-design-icons.css';
@import 'quasar/dist/quasar.prod.css';

// ----------------------------------------------------------------------------
// General Elements
// ----------------------------------------------------------------------------

.noscript{
    background: $warning;
    font-weight: bold;
    text-align: center;
    padding: $padding;
}

:root {
    --q-primary: #{$primary};
    --q-secondary: #{$secondary};
    --q-accent: #{$accent};

    --q-positive: #{$positive};
    --q-negative: #{$negative};
    --q-info: #{$info};
    --q-warning: #{$warning};

    --q-dark: #{$dark};
    --q-dark-page: #{$dark-page};
}

body.body--dark{
    color: $text;
    font-size: 1rem;
    line-height: $line-height;
}

a{
    color: $secondary;
    text-decoration: none;
    transition: 0.25s;

    &:hover{
        text-decoration: underline;
    }
}
