$primary    : #297acc;
$secondary  : #41a4fa;
$accent     : #9C27B0;
$dark       : #222;
$positive   : #2e8743;
$negative   : #C10015;
$info       : #31CCEC;
$warning    : #F2C037;

$dark-page  : #333;
$text       : #aaa;
$header     : $dark;
$bg-side    : lighten($dark, 5);
$bg-main    : lighten($dark, 10);

$padding: 12px;
$space-base: $padding;

$side-padding: $padding * 2;
$sidebar-min-width: 300px;
$sidebar-max-width: 500px;
