<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= require('@/common/Constants').APP_NAME %></title>
    <meta name="description" content="<%= require('@/common/Constants').APP_DESC %>">
    <meta property="favicon" content="/favicon.ico">

    <meta property="og:title" content="<%= require('@/common/Constants').APP_NAME %>" />
    <meta property="og:description" content="<%= require('@/common/Constants').OG_DESC %>" />
    <meta property="og:image" content="https://www.wowpay2win.com/token-large.png" />

    <meta name="twitter:title" content="<%= require('@/common/Constants').APP_NAME %>" />
    <meta name="twitter:description" content="<%= require('@/common/Constants').OG_DESC %>" />
    <meta name="twitter:image" content="https://www.wowpay2win.com/token-large.png" />
    <meta name="twitter:site" content="@trinovantes" />
    <meta name="twitter:card" content="summary" />

    <link rel="prefetch" href="https://wow.zamimg.com">
    <script>var whTooltips = { colorLinks: false, iconizeLinks: false, renameLinks: false };</script>
    <script src="https://wow.zamimg.com/widgets/power.js" defer></script>

    <base target="_blank">
</head>
<body>
    <div id="app"></div>
</body>
</html>
